.icon-bossaltar {
    content: url('https://i.imgur.com/BFbEfBN.png');
}

.icon-anylootchest {
    content: url('https://i.imgur.com/dyxXV8P.png'); 
}

.chestplate-diamond {
    content: url('https://www.wynndata.tk/assets/images/items/v4//chestplate/chestplate--diamond.png');
}